body {
  margin: 0px;
  /*background-image: url('https://cdn.pixabay.com/photo/2016/05/02/10/13/ship-1366926__480.jpg');*/
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #008B8B;
  height: 100px;
  opacity: 0.5;
}

h1 {
  font-size: 50px;
  margin-top: 0px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  height: 100px;
  position: fixed;
  bottom: 0;
  clear: both;
  margin-bottom: 0;
}

.player-name, .score-board {
  height: 100px;
  width: 100px;
  background-color: #008B8B;
  border: 1px solid black;
  color: black;
}

.player-one {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}

.player-two {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
}

.score-board-one {
  float: left;
  position: absolute;
  left: 100px;
  top: 0px;
}

.score-board-two {
  float: right;
  position: absolute;
  right: 100px;
  top: 0px;
}


.column-square {
 height: 100px;
 width: 100px;
 background-color: #cccccc;
 position: relative;
 border: 1px solid black;
 background-image: url('https://previews.123rf.com/images/patrimonio/patrimonio1205/patrimonio120500015/13541995-illustration-of-a-warship-battleship-boat-ship-with-big-guns-viewed-from-a-low-angle-cartoon-style.jpg');
 background-size: 100px;
}

.container {
 border: 4px;
 background-color: #cccccc;
 height: 400px;
 width: 100px;
 position: absolute;
}

.right-column {
  right: 0px;
}

.field {
  position: absolute;
  height: 416px;
  width: 416px;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  opacity: 0.5;
}

.fieldOne {
  left: 200px;
}

.fieldTwo {
  right: 200px;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.battleship {
  height: 50px;
  width: 150px;
}

.ship {
  background-color: yellow;
}

.ship-two {
  background-color: yellow;
}
